pyyaml>=6.0
pycodestyle>=2.9.1
netCDF4>=1.6.1
matplotlib==3.9.0
cartopy>=0.21.1
scikit-learn>=1.1.2
xarray>=2022.6.0
pytest
Shapely
pdoc
seaborn>=0.12.2
sphinx
sphinx_rtd_theme
sphinx_gallery
myst_parser
pydata_sphinx_theme
