sphinx>=7
myst-parser>=3
sphinx-gallery>=0.17
sphinx-copybutton>=0.5
sphinx-design>=0.6
pydata-sphinx-theme>=0.15
matplotlib>=3.8
cartopy
numpy
pandas
seaborn~=0.13
packaging
# The project itself (editable for import in examples)
-e .